# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').
# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command
# disabilita uscita HDMI
@reboot tvservice -o
# Date and time management
@reboot sleep 20; /home/lzer0/bin/lzer0.set.datetime >> /home/lzer0/log/lzer0.set.datetime.log 2>&1
#
# External USB disk management
@reboot sleep 25; /home/lzer0/bin/lzer0.mount.storage >> /home/lzer0/log/lzer0.mount.storage.log 2>&1
@reboot sleep 30; /home/lzer0/bin/lzer0.check.storage >> /home/lzer0/log/lzer0.mount.storage.log 2>&1
1 * * * * /home/lzer0/bin/lzer0.check.storage >> /home/lzer0/log/lzer0.check.storage.log 2>&1
#
# power button and backup battery management
@reboot /home/lzer0/bin/lzer0.check.butbat >> /home/lzer0/log/lzer0.check.butbat.log 2>&1
* * * * * /home/lzer0/bin/lzer0.check.butbat >> /home/lzer0/log/lzer0.check.butbat.log 2>&1
#
# u-blox real-time stream redirections (it must start at reboot and later on lzer0.mount.storage and lzer0.check.storage)
@reboot sleep 35; /home/lzer0/bin/lzer0.ser2tcp.ubx >> /home/lzer0/log/lzer0.ser2tcp.ubx.log 2>&1
@reboot sleep 40; /home/lzer0/bin/lzer0.tcp2file.ubx -f /home/lzer0/cfg/site.cfg >> /home/lzer0/log/lzer0.tcp2file.ubx.log 2>&1
#
# GNSS data set management
0 * * * * sleep 5; /home/lzer0/bin/lzer0.compress.hourlygnss -f /home/lzer0/cfg/site.cfg >> /home/lzer0/log/lzer0.compress.hourlygnss.log 2>&1
30 */6 * * * /home/lzer0/bin/lzer0.compress.hourlygnss -f /home/lzer0/cfg/site.cfg -p 96 >> /home/lzer0/log/lzer0.compress.hourlygnss.log 2>&1
#
# GNSS real time processing (it must start at reboot and later on lzer0.ser2tcp.ubx and lzer0.tcp2file.ubx)
@reboot sleep 45; /home/lzer0/bin/lzer0.start.rtkrcv -f /home/lzer0/cfg/rtkrcv.curr.conf >> /home/lzer0/log/lzer0.start.rtkrcv.log  2>&1
* * * * * /home/lzer0/bin/lzer0.check.rtkrcv -f /home/lzer0/cfg/rtkrcv.curr.conf >> /home/lzer0/log/lzer0.check.rtkrcv.log  2>&1
#
# GNSS real time processing pos recording (it must start at reboot and later on lzer0.start.rtkrcv)
@reboot sleep 50; /home/lzer0/bin/lzer0.record.hourlypos -f /home/lzer0/cfg/site.cfg >> /home/lzer0/log/lzer0.record.hourlypos.log 2>&1
* * * * * /home/lzer0/bin/lzer0.check.recordhourlypos -f /home/lzer0/cfg/site.cfg >> /home/lzer0/log/lzer0.check.recordhourlypos.log  2>&1
